.role-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 0px;
}

.role-select-heading {
  margin-bottom: 2rem;
}

.role-select-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.role-select-text {
  font-size: inherit;
  margin-right: 10px;
}

.role-select-button {
  box-shadow: 0 2px 4px rgba(0, 37, 250, 0.2);
  width: 250px;
  height: 40px;
}
